<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Excel Madness Lab!

_Author:_ Tim Book

## Our Mission
We work for a large supermarket chain, with stores in 10 major cities that happen to coincide with General Assembly campuses. However, this company's idea of a "database" is just a bunch of Excel spreadsheets! In order to analyze our data, we're going to need to process the existing data into a form we can use. **Our end goal is to have one csv per city.**

## Cleanup Duty!
It is a hard truth that data scientists spend a large majority of their time cleaning data. Data never arrives on our desks in exactly the format in which we want it, and it's up to us to transform it to a workable format.

Being good cleaning, moving, and reshaping data is in itself a valuable and employable job skill. If you follow these directions exactly, we will walk through constructing an automated process for processing data from this supermarket chain.

# Part I: Processing

### Step 1: Imports and the `os` library
We're going to import three libraries: numpy, pandas, and `os`.

In [1]:
# Import libraries here.
import pandas as pd
import numpy as np
import os

The `os` library is extremely useful for performing system commands from within Python. Let's get two pieces of overhead out of the way now:

1. Create an `output` folder using `os.mkdir()`
2. Create a variable called `files` that is the list of files in the `data` folder using `os.listdir()`

**WARNING:** The `os.mkdir()` function will give you an error if you try to make a folder that already exists!

In [20]:
path = '/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/data'

# Create an output folder.
output_folder_test = os.mkdir('/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/output_folder_test')

In [23]:
files = os.listdir(path)
files

['Jan 23.xlsx',
 'Jan 19.xlsx',
 'Jan 15.xlsx',
 'Jan 7.xlsx',
 'Jan 6.xlsx',
 'Jan 14.xlsx',
 'Jan 18.xlsx',
 'Jan 22.xlsx',
 'Jan 29.xlsx',
 'Jan 13.xlsx',
 'Jan 1.xlsx',
 'Jan 25.xlsx',
 'Jan 24.xlsx',
 'Jan 12.xlsx',
 'Jan 28.xlsx',
 'Jan 3.xlsx',
 'Jan 11.xlsx',
 'Jan 27.xlsx',
 'Jan 31.xlsx',
 'Jan 30.xlsx',
 'Jan 26.xlsx',
 'Jan 10.xlsx',
 'Jan 2.xlsx',
 'Jan 9.xlsx',
 'Jan 21.xlsx',
 'Jan 5.xlsx',
 'Jan 17.xlsx',
 'Jan 16.xlsx',
 'Jan 4.xlsx',
 'Jan 20.xlsx',
 'Jan 8.xlsx']

### Step 2: Process one data frame
It looks like we have data for the month of January. 31 files of 10 sheets each! Luckily they are all in the same format. So let's read just one in and process that. It might be helpful to open one up in your spreadsheet viewer of choice first (Excel, Numbers, Sheets, etc.)

In [51]:
# Read in data from your city from January 1st.

path = '/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/data/Jan 1.xlsx'

jan_1st = pd.read_excel(path,sheet_name='Atlanta')

jan_1st.head()

   prodcode  price_eu  weight_kg  quantity
0      4272  1.168366   4.629459       155
1      4404  1.996501   2.155133       325
2      4131  2.021499   8.381480       418
3      4404  2.980396   7.450484       177
4      4650  0.977975   8.094924       384

### Step 2a: Convert to 'Merican columns
For whatever reason, our data are stored in euros and kilograms. Create `price_usd` and `weight_lb` columns. There are 2.2 pounds per kilogram, and 1.1 dollars per euro.

In [52]:
jan_1st['price_usd'] = jan_1st['price_eu'] * 1.1 
jan_1st['weight_lb'] = jan_1st['weight_kg'] * 2.2

newdf = jan_1st.sort_values(by=['prodcode'],ascending=True)
newdf['plu_code'] = newdf['prodcode']

newdf.head()

     prodcode  price_eu  weight_kg  quantity  price_usd  weight_lb  plu_code
177      3302  1.160077   3.228085       278   1.276085   7.101786      3302
74       3302  2.105314   2.991220       280   2.315845   6.580684      3302
95       3302  0.926574   4.796309       193   1.019232  10.551880      3302
158      3302  1.591874   1.338830       404   1.751061   2.945427      3302
53       3302  0.924821   9.883335       122   1.017303  21.743337      3302

### Step 2b: Merge in product names
You'll notice we also have a `plu-codes.csv` file containing actual product names matched up against their price lookup (PLU) codes. Let's merge these product names onto our Jan 1 data.
* _Hint 1:_ What kind of merge is this? Right, left, inner, outer, etc.?
* _Hint 2:_ Pay special attention to column names!

In [53]:
plu = pd.read_csv("plu-codes.csv")
plu_s = plu.sort_values(by=['plu_code'],ascending=True)
plu_s.head()

     product  plu_code
2    Apricot      3302
4     Banana      4011
16    Orange      4012
11      Kiwi      4030
8   Cucumber      4062

In [60]:
mergdf = pd.merge(newdf, plu_s, on='plu_code', how='outer')

### Step 2c: Drop unnecessary columns
We've created some extraneous columns. Drop the old price and weight columns, as well as any redundant columns.

In [79]:
mergdf = mergdf.drop(columns=['price_eu','weight_kg'])

In [80]:
mergdf = mergdf.drop(columns=['prodcode'])

In [81]:
mergdf.head()

   quantity  price_usd  weight_lb  plu_code  product   date
0       278   1.276085   7.101786      3302  Apricot  Jan 1
1       280   2.315845   6.580684      3302  Apricot  Jan 1
2       193   1.019232  10.551880      3302  Apricot  Jan 1
3       404   1.751061   2.945427      3302  Apricot  Jan 1
4       122   1.017303  21.743337      3302  Apricot  Jan 1

### Step 2d: Add the date
Simply create a new `date` column that is the date this data was collected. For example, if this is from `Jan 1.xlsx`, this column should be full of `Jan 1`.

In [82]:
mergdf['date'] = path.split(sep='.xlsx')[0][-5:]

     quantity  price_usd  weight_lb  plu_code  product   date
0         278   1.276085   7.101786      3302  Apricot  Jan 1
1         280   2.315845   6.580684      3302  Apricot  Jan 1
2         193   1.019232  10.551880      3302  Apricot  Jan 1
3         404   1.751061   2.945427      3302  Apricot  Jan 1
4         122   1.017303  21.743337      3302  Apricot  Jan 1
..        ...        ...        ...       ...      ...    ...
182       178   0.688542   6.951883      4958    Lemon  Jan 1
183       118   2.591707   9.547051      4958    Lemon  Jan 1
184       363   1.163053   7.466979      4958    Lemon  Jan 1
185       234   2.282065   4.387770      4958    Lemon  Jan 1
186       299   2.283298  11.401791      4958    Lemon  Jan 1

[187 rows x 6 columns]

In [83]:
mergdf.head()

   quantity  price_usd  weight_lb  plu_code  product   date
0       278   1.276085   7.101786      3302  Apricot  Jan 1
1       280   2.315845   6.580684      3302  Apricot  Jan 1
2       193   1.019232  10.551880      3302  Apricot  Jan 1
3       404   1.751061   2.945427      3302  Apricot  Jan 1
4       122   1.017303  21.743337      3302  Apricot  Jan 1

In [ ]:
#df.merge(plu, left_on='prodcode', right_on='plu_code')

### Step 3: Write a function that conducts all of Step 2
This function should import a **filename and a city name** and return a fully processed DataFrame. That is, the function should:
1. Read in the data from the given file and city.
1. Create USD and pound columns.
1. Merge in product names.
1. Drop unnecessary columns.
1. Add a date column

In [95]:
def process_data(file, city):
    """
    Loads data for the specified file and city 
    """
    # load data file into a dataframe
    df = pd.read_excel(file,sheet_name=city)
    
    #merica cols FTW
    df['price_usd'] = df['price_eu'] * 1.1 
    df['weight_lb'] = df['weight_kg'] * 2.2

    #getting stuff ready for a clean merg
    sortdf = df.sort_values(by=['prodcode'],ascending=True)
    sortdf['plu_code'] = sortdf['prodcode']
    
    plu = pd.read_csv("plu-codes.csv")
    plu_s = plu.sort_values(by=['plu_code'],ascending=True)
    
    #le merge
    mergdf_first = pd.merge(sortdf, plu_s, on='plu_code', how='outer')
    mergdf = mergdf_first.drop(columns=['price_eu', 'weight_kg', 'prodcode'])
    mergdf['date'] = file.split(sep='.xlsx')[0][-5:]
    
    return mergdf

Test your function out on a new file and city!

In [102]:
file = '/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/data/Jan 16.xlsx'
city = 'Atlanta'
process_data(file,city)

     quantity  price_usd  weight_lb  plu_code  product   date
0         479   1.616907   6.612895      3302  Apricot  an 16
1         306   1.950862  15.840079      3302  Apricot  an 16
2         420   2.923050  10.727157      3302  Apricot  an 16
3         480   1.915078  20.045536      3302  Apricot  an 16
4         236   1.051674  21.583158      3302  Apricot  an 16
..        ...        ...        ...       ...      ...    ...
186       227   1.154385  20.270743      4958    Lemon  an 16
187       309   1.130762  11.593734      4958    Lemon  an 16
188       343   1.387917   2.659086      4958    Lemon  an 16
189       481   0.996091  21.909231      4958    Lemon  an 16
190       464   1.210642  10.185277      4958    Lemon  an 16

[191 rows x 6 columns]

In [104]:
path = '/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/data'
files = os.listdir(path)
files

['Jan 23.xlsx',
 'Jan 19.xlsx',
 'Jan 15.xlsx',
 'Jan 7.xlsx',
 'Jan 6.xlsx',
 'Jan 14.xlsx',
 'Jan 18.xlsx',
 'Jan 22.xlsx',
 'Jan 29.xlsx',
 'Jan 13.xlsx',
 'Jan 1.xlsx',
 'Jan 25.xlsx',
 'Jan 24.xlsx',
 'Jan 12.xlsx',
 'Jan 28.xlsx',
 'Jan 3.xlsx',
 'Jan 11.xlsx',
 'Jan 27.xlsx',
 'Jan 31.xlsx',
 'Jan 30.xlsx',
 'Jan 26.xlsx',
 'Jan 10.xlsx',
 'Jan 2.xlsx',
 'Jan 9.xlsx',
 'Jan 21.xlsx',
 'Jan 5.xlsx',
 'Jan 17.xlsx',
 'Jan 16.xlsx',
 'Jan 4.xlsx',
 'Jan 20.xlsx',
 'Jan 8.xlsx']

### Step 4: Process all of January's data
For each spreadsheet, process the data and store the resulting DataFrame in one big list. **You only need to do this for your city!**

* _Hint 1:_ A listcomp would make this whole step one line of code!
* _Hint 2:_ You've already made that `files` variable to help you here.

In [107]:
#path_n = '/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/data/{}'


database = [process_data(f'/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/data/{file}', 'Atlanta') for file in files]

### Step 5: Concatenate all DataFrames from Step 4 into one large DataFrame
* _Hint:_ Is there a function in `pandas` that can do something like this for us? This is also just one line of code!

In [110]:
database

[     quantity  price_usd  weight_lb  plu_code  product   date
 0         193   0.809645   6.149797      3302  Apricot  an 23
 1         231   0.644674   7.035970      3302  Apricot  an 23
 2         404   2.189665  12.559465      3302  Apricot  an 23
 3         414   3.190854  15.811433      3302  Apricot  an 23
 4         169   1.488887   6.572202      3302  Apricot  an 23
 ..        ...        ...        ...       ...      ...    ...
 187       267   1.227310  20.167013      4958    Lemon  an 23
 188       117   2.121493  13.110241      4958    Lemon  an 23
 189       248   0.979913  10.979644      4958    Lemon  an 23
 190       376   0.583678  19.698420      4958    Lemon  an 23
 191       371   2.483511  13.467096      4958    Lemon  an 23

 [192 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         271   2.821189   9.384498      3302  Apricot  an 19
 1         452   2.996906  10.566099      3302  Apricot  an 19
 2         225   2.662470  21.918065      3302  Apricot  an 19
 3         426   1.986516   6.451817      3302  Apricot  an 19
 4         290   2.657255   5.048864      3302  Apricot  an 19
 ..        ...        ...        ...       ...      ...    ...
 107       477   1.461558   3.229939      4958    Lemon  an 19
 108       457   2.295445  15.170031      4958    Lemon  an 19
 109       432   1.804161  14.434552      4958    Lemon  an 19
 110       471   2.750434   8.029679      4958    Lemon  an 19
 111       323   0.917001  12.976245      4958    Lemon  an 19

 [112 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         271   1.314986  12.949651      3302  Apricot  an 15
 1         322   2.390451  17.641215      3302  Apricot  an 15
 2         230   1.514174  18.431551      3302  Apricot  an 15
 3         266   1.088061   9.244476      3302  Apricot  an 15
 4         489   1.069825  15.637495      3302  Apricot  an 15
 ..        ...        ...        ...       ...      ...    ...
 138       358   2.944311   2.959977      4958    Lemon  an 15
 139       314   1.177276   5.223028      4958    Lemon  an 15
 140       485   1.502444  18.530480      4958    Lemon  an 15
 141       314   2.154103   6.316803      4958    Lemon  an 15
 142       235   1.952811  13.513695      4958    Lemon  an 15

 [143 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         306   1.962247   5.957594      3302  Apricot  Jan 7
 1         482   2.286786  16.223450      3302  Apricot  Jan 7
 2         164   2.805861   9.146083      3302  Apricot  Jan 7
 3         281   0.687080  17.959905      3302  Apricot  Jan 7
 4         197   2.468585   3.273925      3302  Apricot  Jan 7
 ..        ...        ...        ...       ...      ...    ...
 107       143   0.723709  21.210361      4958    Lemon  Jan 7
 108       167   0.809241   9.763751      4958    Lemon  Jan 7
 109       151   2.254670   7.873140      4958    Lemon  Jan 7
 110       300   1.051597  10.272515      4958    Lemon  Jan 7
 111       186   0.795819   5.679577      4958    Lemon  Jan 7

 [112 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         169   2.152086  12.371678      3302  Apricot  Jan 6
 1         200   2.527932   5.902151      3302  Apricot  Jan 6
 2         314   1.186211  17.711187      3302  Apricot  Jan 6
 3         408   3.050664   3.689318      3302  Apricot  Jan 6
 4         301   2.336921   3.329567      3302  Apricot  Jan 6
 ..        ...        ...        ...       ...      ...    ...
 103       106   2.172044  18.016803      4796   Tomato  Jan 6
 104       230   0.870686   3.969079      4796   Tomato  Jan 6
 105       323   1.552874  21.378673      4796   Tomato  Jan 6
 106       107   3.148332   9.791959      4796   Tomato  Jan 6
 107       497   1.922280  13.654711      4958    Lemon  Jan 6

 [108 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         449   2.268012  17.939934      3302  Apricot  an 14
 1         296   1.347559  19.780251      3302  Apricot  an 14
 2         226   0.862485  15.765108      3302  Apricot  an 14
 3         412   2.577778   7.015408      3302  Apricot  an 14
 4         375   2.395854  16.390447      3302  Apricot  an 14
 ..        ...        ...        ...       ...      ...    ...
 181       209   1.896222   2.748249      4958    Lemon  an 14
 182       329   2.169318  13.503426      4958    Lemon  an 14
 183       214   0.637764   2.801860      4958    Lemon  an 14
 184       153   2.253961  20.647995      4958    Lemon  an 14
 185       282   3.025648  17.840667      4958    Lemon  an 14

 [186 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         425   1.079279   4.375565      3302  Apricot  an 18
 1         393   1.782001  13.874864      3302  Apricot  an 18
 2         135   2.896861   2.887416      3302  Apricot  an 18
 3         256   2.086319   2.532573      3302  Apricot  an 18
 4         299   3.066393  20.286428      3302  Apricot  an 18
 ..        ...        ...        ...       ...      ...    ...
 137       458   3.110182  15.357065      4958    Lemon  an 18
 138       480   1.648470   6.094237      4958    Lemon  an 18
 139       439   1.682752   4.876637      4958    Lemon  an 18
 140       143   0.845930  18.855658      4958    Lemon  an 18
 141       351   2.364000  13.481873      4958    Lemon  an 18

 [142 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         385   1.507937  17.319646      3302  Apricot  an 22
 1         257   3.291150   4.949428      3302  Apricot  an 22
 2         258   1.439893  20.692374      3302  Apricot  an 22
 3         431   2.496443  13.391982      4011   Banana  an 22
 4         479   2.338220  18.693945      4011   Banana  an 22
 ..        ...        ...        ...       ...      ...    ...
 128       232   1.234937  21.082279      4796   Tomato  an 22
 129       280   1.729470  17.872188      4958    Lemon  an 22
 130       484   2.902084  17.819524      4958    Lemon  an 22
 131       429   1.956083  15.196521      4958    Lemon  an 22
 132       494   1.431754  20.190390      4958    Lemon  an 22

 [133 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         240   0.796875  13.851005      3302  Apricot  an 29
 1         408   3.087686  10.372736      3302  Apricot  an 29
 2         130   1.244113  16.861457      3302  Apricot  an 29
 3         192   2.465163  19.901829      3302  Apricot  an 29
 4         338   0.854168  19.895955      4011   Banana  an 29
 ..        ...        ...        ...       ...      ...    ...
 102       217   0.852473  16.425484      4796   Tomato  an 29
 103       445   2.305846  18.928081      4958    Lemon  an 29
 104       111   0.581931  14.481549      4958    Lemon  an 29
 105       470   3.062995  18.865685      4958    Lemon  an 29
 106       498   1.481612  12.950179      4958    Lemon  an 29

 [107 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         401   2.058394   3.320319      3302  Apricot  an 13
 1         189   1.593122   2.800226      3302  Apricot  an 13
 2         312   1.947685  13.946129      3302  Apricot  an 13
 3         346   0.800991  10.029169      3302  Apricot  an 13
 4         201   2.947566   7.380174      3302  Apricot  an 13
 ..        ...        ...        ...       ...      ...    ...
 141       398   1.899768  17.529368      4958    Lemon  an 13
 142       399   2.989900  18.073473      4958    Lemon  an 13
 143       410   2.693201  11.810282      4958    Lemon  an 13
 144       498   0.731995   6.897153      4958    Lemon  an 13
 145       159   0.692242  16.263564      4958    Lemon  an 13

 [146 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         278   1.276085   7.101786      3302  Apricot  Jan 1
 1         280   2.315845   6.580684      3302  Apricot  Jan 1
 2         193   1.019232  10.551880      3302  Apricot  Jan 1
 3         404   1.751061   2.945427      3302  Apricot  Jan 1
 4         122   1.017303  21.743337      3302  Apricot  Jan 1
 ..        ...        ...        ...       ...      ...    ...
 182       178   0.688542   6.951883      4958    Lemon  Jan 1
 183       118   2.591707   9.547051      4958    Lemon  Jan 1
 184       363   1.163053   7.466979      4958    Lemon  Jan 1
 185       234   2.282065   4.387770      4958    Lemon  Jan 1
 186       299   2.283298  11.401791      4958    Lemon  Jan 1

 [187 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         130   1.858579  16.220537      3302  Apricot  an 25
 1         100   2.746186  19.422308      3302  Apricot  an 25
 2         315   0.630680  15.303539      3302  Apricot  an 25
 3         361   3.217391  12.377379      3302  Apricot  an 25
 4         253   2.293992  20.777217      3302  Apricot  an 25
 ..        ...        ...        ...       ...      ...    ...
 170       326   2.859976  19.427248      4958    Lemon  an 25
 171       179   0.938203   2.295666      4958    Lemon  an 25
 172       272   2.019658  18.697105      4958    Lemon  an 25
 173       386   1.855744  20.430967      4958    Lemon  an 25
 174       207   1.385655  12.940862      4958    Lemon  an 25

 [175 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         390   2.270310   2.698852      3302  Apricot  an 24
 1         399   2.520384  16.431717      3302  Apricot  an 24
 2         212   3.250154  19.279547      3302  Apricot  an 24
 3         170   2.919873   9.780027      3302  Apricot  an 24
 4         249   2.762607  18.962853      3302  Apricot  an 24
 ..        ...        ...        ...       ...      ...    ...
 169       412   1.236529   7.652228      4958    Lemon  an 24
 170       436   1.599438  11.133471      4958    Lemon  an 24
 171       263   2.138582  21.757328      4958    Lemon  an 24
 172       290   2.017079  11.347226      4958    Lemon  an 24
 173       113   2.488070   5.810550      4958    Lemon  an 24

 [174 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         489   0.612789  20.884720      3302  Apricot  an 12
 1         417   2.237588  10.252195      3302  Apricot  an 12
 2         194   1.691141  14.055313      3302  Apricot  an 12
 3         417   3.203998   2.961204      3302  Apricot  an 12
 4         395   2.709716  17.237624      3302  Apricot  an 12
 ..        ...        ...        ...       ...      ...    ...
 182       163   2.454889   4.004743      4958    Lemon  an 12
 183       380   2.711836  19.862947      4958    Lemon  an 12
 184       232   0.626316   9.612150      4958    Lemon  an 12
 185       377   3.164222  14.904592      4958    Lemon  an 12
 186       108   1.209260  10.602929      4958    Lemon  an 12

 [187 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         123   3.155397  13.120977      3302  Apricot  an 28
 1         478   0.966000  10.056585      3302  Apricot  an 28
 2         183   3.056604   4.732468      3302  Apricot  an 28
 3         274   2.255768   8.597213      3302  Apricot  an 28
 4         296   3.207325   7.154271      3302  Apricot  an 28
 ..        ...        ...        ...       ...      ...    ...
 194       120   1.962538   7.579070      4958    Lemon  an 28
 195       225   3.171700   9.478775      4958    Lemon  an 28
 196       254   3.090951  16.112292      4958    Lemon  an 28
 197       331   2.433481  19.894963      4958    Lemon  an 28
 198       430   1.634766  17.012337      4958    Lemon  an 28

 [199 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         199   2.697621  15.036093      3302  Apricot  Jan 3
 1         380   2.923033  15.468859      3302  Apricot  Jan 3
 2         202   0.989510  12.627541      3302  Apricot  Jan 3
 3         430   1.870694  16.879315      3302  Apricot  Jan 3
 4         138   1.738490  10.763910      3302  Apricot  Jan 3
 ..        ...        ...        ...       ...      ...    ...
 152       402   1.896862   3.546172      4796   Tomato  Jan 3
 153       327   2.743515   8.125357      4796   Tomato  Jan 3
 154       317   2.766697  15.029460      4958    Lemon  Jan 3
 155       173   1.562657  14.410528      4958    Lemon  Jan 3
 156       370   1.692761  12.231648      4958    Lemon  Jan 3

 [157 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         151   2.890439  21.714490      3302  Apricot  an 11
 1         375   1.353055   7.194292      3302  Apricot  an 11
 2         448   2.738255   2.953589      3302  Apricot  an 11
 3         354   2.766406   3.464577      3302  Apricot  an 11
 4         152   2.125158   5.182480      3302  Apricot  an 11
 ..        ...        ...        ...       ...      ...    ...
 166       148   1.409741  10.270621      4796   Tomato  an 11
 167       222   2.372228  19.682221      4958    Lemon  an 11
 168       426   0.689075  19.151442      4958    Lemon  an 11
 169       295   3.288920   3.220122      4958    Lemon  an 11
 170       213   2.711104   8.282410      4958    Lemon  an 11

 [171 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         351   1.086438  11.571262      3302  Apricot  an 27
 1         193   1.201683  19.632784      3302  Apricot  an 27
 2         247   2.085460  12.377747      3302  Apricot  an 27
 3         340   3.209689  12.812419      3302  Apricot  an 27
 4         210   1.726350  12.334873      3302  Apricot  an 27
 ..        ...        ...        ...       ...      ...    ...
 143       499   3.163331   6.404224      4958    Lemon  an 27
 144       398   0.773017  10.794950      4958    Lemon  an 27
 145       377   2.949053  11.250265      4958    Lemon  an 27
 146       110   1.746352  19.561056      4958    Lemon  an 27
 147       413   1.137712  13.948717      4958    Lemon  an 27

 [148 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         271   0.783492  11.110979      3302  Apricot  an 31
 1         483   2.230211  17.491342      3302  Apricot  an 31
 2         197   2.447469   8.500585      3302  Apricot  an 31
 3         320   0.741137   4.641995      3302  Apricot  an 31
 4         226   1.547135   4.338175      3302  Apricot  an 31
 ..        ...        ...        ...       ...      ...    ...
 135       179   1.337622   5.595855      4796   Tomato  an 31
 136       235   2.185836  10.999159      4796   Tomato  an 31
 137       140   2.479847   4.391319      4796   Tomato  an 31
 138       481   2.018916  11.571539      4958    Lemon  an 31
 139       440   2.314251   4.608503      4958    Lemon  an 31

 [140 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         304   1.767790  14.867468      3302  Apricot  an 30
 1         357   1.176975  12.333352      3302  Apricot  an 30
 2         408   3.118965   2.686707      3302  Apricot  an 30
 3         125   2.163613   7.757606      3302  Apricot  an 30
 4         252   0.735173  10.845101      3302  Apricot  an 30
 ..        ...        ...        ...       ...      ...    ...
 192       256   1.346082  15.064379      4958    Lemon  an 30
 193       224   2.734917  21.123366      4958    Lemon  an 30
 194       314   2.163682  17.519996      4958    Lemon  an 30
 195       497   0.790020  13.541828      4958    Lemon  an 30
 196       287   1.788970   9.709679      4958    Lemon  an 30

 [197 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         166   1.196185   4.656433      3302  Apricot  an 26
 1         486   1.881016  13.675190      3302  Apricot  an 26
 2         120   1.966226  20.689548      3302  Apricot  an 26
 3         120   1.543437   5.228578      3302  Apricot  an 26
 4         380   1.889388  21.895009      3302  Apricot  an 26
 ..        ...        ...        ...       ...      ...    ...
 121       425   0.862948  10.602008      4958    Lemon  an 26
 122       337   1.684387   4.551046      4958    Lemon  an 26
 123       149   1.799150  11.160388      4958    Lemon  an 26
 124       328   2.143060  13.948509      4958    Lemon  an 26
 125       356   0.688901   5.668480      4958    Lemon  an 26

 [126 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         261   1.721780  13.018451      3302  Apricot  an 10
 1         211   0.619958   6.331263      3302  Apricot  an 10
 2         348   2.376736   3.499581      3302  Apricot  an 10
 3         423   0.910686   6.511946      3302  Apricot  an 10
 4         312   2.414609  20.852115      4011   Banana  an 10
 ..        ...        ...        ...       ...      ...    ...
 132       133   0.599853   7.388846      4958    Lemon  an 10
 133       308   1.204901  16.116212      4958    Lemon  an 10
 134       446   3.063312  18.509839      4958    Lemon  an 10
 135       452   3.264550   9.966780      4958    Lemon  an 10
 136       116   3.224087  12.622655      4958    Lemon  an 10

 [137 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         323   2.343408   5.025230      3302  Apricot  Jan 2
 1         391   2.737972  20.788987      3302  Apricot  Jan 2
 2         320   1.742963  15.951530      3302  Apricot  Jan 2
 3         239   0.917001   5.024570      3302  Apricot  Jan 2
 4         369   1.967265  13.883916      3302  Apricot  Jan 2
 ..        ...        ...        ...       ...      ...    ...
 155       257   3.178608  17.231174      4958    Lemon  Jan 2
 156       278   3.129555  11.465993      4958    Lemon  Jan 2
 157       451   3.108464   4.694977      4958    Lemon  Jan 2
 158       148   2.078571  17.353960      4958    Lemon  Jan 2
 159       130   1.723359   4.115154      4958    Lemon  Jan 2

 [160 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         186   1.851050  19.116178      3302  Apricot  Jan 9
 1         264   1.160651   2.542657      3302  Apricot  Jan 9
 2         130   1.002743  16.923181      3302  Apricot  Jan 9
 3         234   2.395026  14.018512      3302  Apricot  Jan 9
 4         194   1.531762  15.908734      3302  Apricot  Jan 9
 ..        ...        ...        ...       ...      ...    ...
 160       152   0.987512  21.056847      4796   Tomato  Jan 9
 161       171   3.235182   5.841109      4958    Lemon  Jan 9
 162       282   2.026039  14.263859      4958    Lemon  Jan 9
 163       198   0.656648  17.056620      4958    Lemon  Jan 9
 164       337   1.877165  15.332525      4958    Lemon  Jan 9

 [165 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         347   1.237179  15.114351      3302  Apricot  an 21
 1         391   1.842298   6.479275      3302  Apricot  an 21
 2         158   1.790088  20.832679      3302  Apricot  an 21
 3         246   2.065364  14.396529      3302  Apricot  an 21
 4         217   2.609611  17.165614      3302  Apricot  an 21
 ..        ...        ...        ...       ...      ...    ...
 115       213   2.262641   2.861966      4796   Tomato  an 21
 116       206   2.598370  14.964995      4958    Lemon  an 21
 117       108   1.788083   4.908375      4958    Lemon  an 21
 118       496   1.273467   5.710289      4958    Lemon  an 21
 119       492   2.786725   2.836188      4958    Lemon  an 21

 [120 rows x 6 columns],
      quantity  price_usd  weight_lb  plu_code  product   date
 0         473   0.610851  18.237557      3302  Apricot  Jan 5
 1         408   1.634328   9.522333      3302  Apricot  Jan 5
 2         101   0.665227   5.678086      3302  Apricot  Jan 5
 3         401   2.613425  11.078321      3302  Apricot  Jan 5
 4         230   1.154457   3.315032      3302  Apricot  Jan 5
 ..        ...        ...        ...       ...      ...    ...

In [111]:
result = pd.concat(database)
result

     quantity  price_usd  weight_lb  plu_code  product   date
0         193   0.809645   6.149797      3302  Apricot  an 23
1         231   0.644674   7.035970      3302  Apricot  an 23
2         404   2.189665  12.559465      3302  Apricot  an 23
3         414   3.190854  15.811433      3302  Apricot  an 23
4         169   1.488887   6.572202      3302  Apricot  an 23
..        ...        ...        ...       ...      ...    ...
143       486   1.893649  14.732792      4796   Tomato  Jan 8
144       407   0.866738   3.053623      4796   Tomato  Jan 8
145       287   2.066985   4.135593      4958    Lemon  Jan 8
146       440   2.723062   7.479185      4958    Lemon  Jan 8
147       182   0.698227   2.789097      4958    Lemon  Jan 8

[4764 rows x 6 columns]

### Step 6: Do this for all cities, write data
Here's the big one. For each city, process and the data as in steps 3-5, and then write the data to our `output` folder. Below is a dictionary of city name to desired output file name.

Before writing your DataFrame, do the following:
* Add a `city` column
* Reorder the columns into the following order:


| city | date | product | prodcode | quantity | weight_lb | price_usd |
|---|---|---|---|---|---|---|

* _Hint:_ You can reorder DataFrame columns simply by writing over your DataFrame with itself, but specifying the specific column order with `.loc`. For example:

`print(df)`

| b | c | a |
|---|---|---|
| 1 | 2 | 3 |

`df = df.loc[:, ["a", "b", "c"]]`

`print(df)`

| a | b | c |
|---|---|---|
| 3 | 1 | 2 |

In [112]:
city_dict = {
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"
}

In [ ]:
database = [process_data(f'/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/data/{file}', 
                         'Atlanta') for file in files]

In [120]:
# Loop through city_dict and carry out Step 6 here.
for k,v in city_dict.items():
    database = [process_data(f'/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/data/{file}', 
                         k) for file in files]
    
    df = pd.concat(database)
    df['city'] = k
    df.to_csv(f'/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/output_folder/{v}')
    

# The keys of city_dict can serve as the sheet name.
for city, filename in city_dict.items():
    current_df = pd.concat([process_data(file, city) for file in files])
    current_df['city'] = city
    current_df = current_df[col_order]
    filepath = 'output/' + filename
    current_df.to_csv(filepath, index=False)

# The values of city_dict are what you should name the output .csv files.


# If done correctly, this cell could take almost a minute to run!

# Part II: Checking our answers 
In steps very similar to the ones conducted above...
1. Loop through the files we just wrote to `output`, and read them in, collecting them all in one list
1. Combine all of those DataFrames into one large DataFrame
1. For each city, find the mean `quantity`, `weight_lb`, and `price_usd`.

If you've done everything correct, your answer should look exactly like this:

![](imgs/correct-output.png)

In [123]:
output_path = '/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/output_folder'
outputfiles = os.listdir(output_path)

In [128]:

filesdf = [ pd.read_csv(f'/Users/j_b/GA_DSI_works/2.02-lab-excel-madness/output_folder/{file}') for file in outputfiles ]
    
df = pd.concat(filesdf)
    
alldf = df.groupby('city')['quantity','weight_lb','price_usd'].mean()

<ipython-input-128-51869e4ac421>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  alldf = df.groupby('city')['quantity','weight_lb','price_usd'].mean()

In [129]:
alldf

                  quantity  weight_lb  price_usd
city
Atlanta         302.485306  11.929027   1.937980
Austin          301.048298  12.092775   1.937456
Boston          298.806536  12.063057   1.900973
Chicago         301.686186  12.101555   1.930026
Denver          301.012745  12.129850   1.932088
Los Angeles     301.531276  12.167527   1.918331
New York        299.482863  12.090294   1.912662
San Francisco   298.979895  12.237399   1.925830
Seattle         300.333694  11.925486   1.903315
Washington, DC  300.576421  11.930747   1.943107

,Unnamed: 0,quantity,price_usd,weight_lb,plu_code,product,date,city
0,0.0,218.0,1.394968,12.902230,3302.0,Apricot,an 23,Los Angeles
1,1.0,498.0,0.934303,3.591041,3302.0,Apricot,an 23,Los Angeles
2,2.0,466.0,1.689832,11.238440,3302.0,Apricot,an 23,Los Angeles
3,3.0,166.0,0.818175,18.855599,3302.0,Apricot,an 23,Los Angeles
4,4.0,431.0,3.079136,12.701400,3302.0,Apricot,an 23,Los Angeles
...,...,...,...,...,...,...,...,...
4586,155.0,285.0,1.454879,18.231046,4958.0,Lemon,Jan 8,Boston
4587,156.0,104.0,1.377734,2.315774,4958.0,Lemon,Jan 8,Boston
4588,157.0,336.0,0.859843,4.761910,4958.0,Lemon,Jan 8,Boston
4589,158.0,158.0,1.167321,21.826945,4958.0,Lemon,Jan 8,Boston
4590,159.0,490.0,2.690563,21.441430,4958.0,Lemon,Jan 8,Boston

In [ ]:
for city, filename in city_dict.items():
    current_df = pd.concat([process_data(file, city) for file in files])
    current_df['city'] = city
    current_df = current_df[col_order]
    filepath = 'output/' + filename
    current_df.to_csv(filepath, index=False)

# Part III (BONUS): Get this process production-ready!
_This part of the lab is optional, but very highly recommended, as the skills developed in this part are extremely common in industry._

For this step, we're going to take this whole process and put it into a production-ready Python script. **ABSOLUTELY NONE OF THIS STEP SHOULD TAKE PLACE IN A JUPYTER NOTEBOOK! PRODUCTIONALIZED ETL (_"Extract, Transform, Load"_) CODE DOES NOT TAKE PLACE IN A JUPYTER NOTEBOOK!**

The instructions are simple: As conducted in this lab, read, transform, and export the data in our Excel files into .csv files. The code should be in a `.py` file and executable from the command line. Here are some hints and tips to guide you:

### Hints, tips, and tricks:
* A good place to start is with the code you've already written. In this notebook, you can click `File > Download as > Python (.py)` to export as a `.py` file. Most of this exercise then comes down to you cleaning this file. (There will be a lot to clean).
* Remember `os.mkdir()` will throw an error if the folder you're trying to make already exists. Maybe you should check to see if it already exists. If it already exists, what should you do? (Remember that `.csv` can be overwritten with no problem.) The functions that can help you with this are all in the `os` library.
* Remember to follow all of the Python best practices we've already learned:
    - All import statements should go at the top of your script.
    - Comment your code. Comments shouldn't explain _what_ code does, but _why_ the code does this.
    - Keep your code DRY (don't repeat yourself) as opposed to WET (write everything twice). All constants should be variables that only need to be changed once. All code should be bottled into functions so you only need to fix it once.
* Make sure not to hardcode "Jan" anywhere. The point is that this code can be run throughout the lifetime of this supermarket's project, which is likely months or years. Keep your code so that if you get February data, you only need to change one tiny piece of the script (probably a file path).